body {
  font-family: sans-serif;
  background-color: black;
  color: #AAA0b2;
}

.sidebar {
  width: 300px;
  float: left;
  background-color: #AAA0b2;
  color: black;
}

.column {
  width: 400px;
  float: right;
}

h2 {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

