body {
  font-family: sans-serif;
  background-color: black;
  color: #AAA0b2;
}
 
.sidebar {
  width: 250px;
  height: 1200px;
  padding: 4px; 
  float: left;
  background-color: #AAA0b2;
  color: black;
  border: 8px solid lightgoldenrodyellow;
  padding: 20px;
}

.sidebar h2 {
  color: lightgoldenrodyellow;
  font-variant: small-caps;
}

.sidebar ul {
  font-weight: bold;
}

.column {
  width: 400px;
  float: right;
  background-color: black;
  color: #AAA0b2;
}

h2 {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img.band {
  float:right;
  width: 400px;
  height: 300px;
}

img.logo {
  max-width: 400px;
  height: auto;
}

@media screen and (max-width:780px) {

  img.band {
    width: 25%;
  }

  .column {
    width:25%;
    font-size:10px;
  }
  
  .sidebar {
    width: 25%
    font-size: 2vw;
  }
}