body {
  font-family: sans-serif;
  background-color: black;
  color: #AAA0b2;
}
 
.sidebar {
  width: 250px;
  height: 1200px;
  padding: 4px; 
  float: left;
  background-color: #AAA0b2;
  color: black;
  border: 8px solid lightgoldenrodyellow;
  padding: 20px;
}

.column {
  width: 400px;
  float: right;
  background-color: black;
  color: #AAA0b2;
}

h2 {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  float:right;
  width: 400px;
  height: 300px;
}